- 4장 연습문제 
- 이름:김민성 
- 학번:202110163

### 리스트 연습문제 1

In [6]:
# 3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오
friends = ["김민성", "감종규", "염승태"]

friends.insert(0, "강찬희")
print("친구 추가", friends)

friends.insert(2, "김철수")
print("3번째 친구 추가", friends)

friends.append("박기수")
print("마지막 친구 추가", friends)

친구 추가 ['강찬희', '김민성', '감종규', '염승태']
3번째 친구 추가 ['강찬희', '김민성', '김철수', '감종규', '염승태']
마지막 친구 추가 ['강찬희', '김민성', '김철수', '감종규', '염승태', '박기수']

In [15]:
# 리스트 [1,2,3]에 대해 다음과 같은 처리를 하라
list = [1,2,3]

list[1] = 17
print("두 번째 요소 수정", list)

list.extend([4,5,6])
print("리스트 추가", list)

del list[0]
print("첫 번째 요소 삭제", list)

list.sort()
print("리스트 정렬", list)

list.insert(3, 25)
print("인덱스 3에 25 넣기", list)

두 번째 요소 수정 [1, 17, 3]
리스트 추가 [1, 17, 3, 4, 5, 6]
첫 번째 요소 삭제 [17, 3, 4, 5, 6]
리스트 정렬 [3, 4, 5, 6, 17]
인덱스 3에 25 넣기 [3, 4, 5, 25, 6, 17]

### 리스트 연습문제 2

In [16]:
# for 루프를 이용하여다음과같은리스트를생성하라.
# 0~49까지의 수로 구성되는리스트


list = []

for a in range(50):
    list.append(a)

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [17]:
# 1~50까지 수의 제곱으로구성되는리스트
list = []

for a in range(1,50):
    list.append(a**2)

print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [18]:
#  크기가같은두개의리스트L, M을생성하고두리스트의각요소합으로구성되는새로운리스트를생성하라. 예를들어L=[1,2,3]이고 M=[4,5,6]이면 [5,7,9]인 리스트 생성 

L = [1,2,3]
M = [4,5,6]

r = []
for i in range(len(L)):
    r.append(L[i] + M[i])


print(r)

[5, 7, 9]

### 딕셔너리 연습문제

다음 딕셔너리에 대해 물음에 답하라.
- days = {'January':31, 'February':28, 'March':31, 'April':30,'May':31, 'June':30, 'July':31, 'August':31 'September':30, 'October':31, 'November':30, 'December':31}

In [26]:
# 1. 사용자가 월을 입력하면 해당 월에 일수를 출력하라
days = {
    'January': 31, 'February': 28, 'March': 31, 'April': 30,
    'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30,
    'October': 31, 'November': 30, 'December': 31
}

month = input("월 입력: ")
if month in days:
    print(f"{month}는 {days[month]}일까지 있습니다.")
else:
    print("존재하지 않는 월입니다.")

May는 31일까지 있습니다.

In [27]:
# 2. 알파벳 순서로 모든 월을 출력하라
print("알파벳 순서:", sorted(days.keys()))

알파벳 순서: ['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [28]:
# 3.일수가 31인 월을 모두 출력하라
print("31일까지 있는 월:", [m for m, d in days.items() if d == 31])

31일까지 있는 월: ['January', 'March', 'May', 'July', 'August', 'October', 'December']

In [29]:
# 4. 월의 일수를 기준으로 오름차순으로 (key-value) 쌍을 출력하라
print("일수 기준 오름차순:")
for m, d in sorted(days.items(), key=lambda x: x[1]):
    print(m, ":", d)

일수 기준 오름차순:
February : 28
April : 30
June : 30
September : 30
November : 30
January : 31
March : 31
May : 31
July : 31
August : 31
October : 31
December : 31

In [31]:
# 5. 사용자가 월을 3자리만 입력하면 월의 일수를 출력하라.(Jan, Feb 등)
short = input("월(3자리) 입력: ")
found = False
for m in days:
    if m.startswith(short):
        print(f"{m}는 {days[m]}일까지 있습니다.")
        found = True
        break
if not found:
    print("존재하지 않는 월입니다.")

January는 31일까지 있습니다.