# 2장 노트 정리
- 이름: 김민성
- 학번: 202110163

## 1. 기본 입출력 함수
### 1-1. print()
- 값/식/변수를 화면에 출력
- 여러 값을 쉼표로 나열하면 공백으로 구분되어 출력됩니다.

In [ ]:
print(10 + 20)
print("동양미래대학교")
print("abc " * 3)
x, y = 25, 32
z = x + y
print(x, y)
print(x, "+", y, "=", z)

### 1-2. print() 서식 지정
- %d, %.1f 등의 C-스타일 서식이나, f-string을 사용할 수 있습니다.

In [ ]:
n = 10
m = 5.2
print("n=%d" % n)
print("m=%.1f, n=%d" % (m, n))
print(f"m={m:.1f}, n={n}")

### 1-3. input()
- 항상 문자열로 입력되므로, 정수/실수 변환이 필요하면 int(), float() 사용

In [ ]:
n = input("type a number: ")  # 문자열로 입력됨
print(n, type(n))
print(int(n), float(n), str(3))

## 2. 기본 자료형
### 2-1. 부울형(Boolean)

In [ ]:
aVar, bVar = True, False
print(type(aVar), aVar)
print(1 < 2, 3 > 5)

### 2-2. 정수(Integer)

In [ ]:
i = 5
print(type(i), i)

print(0b1010, 0o17, 0xFF)

### 2-3. 실수(Float)

In [ ]:
f = 1.0
print(type(f), f)

print(1., 1e0, 1.0e2)
print(100_000.000_0001)

### 2-4. 문자열(String)

In [ ]:
s1 = "This is a string"
s2 = 'I"m a Python fanatic'
print(s1)
print(s2)

## 3. 연산자
### 3-1. 지정(할당), 산술 연산자

In [ ]:
a, b = 10, 3
print("a+b=", a+b)
print("a-b=", a-b)
print("a*b=", a*b)
print("a/b=", a/b)
print("a//b=", a//b)
print("a%b=", a%b)
print("a**2=", a**2)

### 3-2. 관계 연산자

In [ ]:
score = 95
print(score >= 90)
print(score < 80)
print(score == 90)
print(score != 80)

### 3-3. 논리 연산자

In [ ]:
exam, report = 85, 85
print(exam >= 80 and report >= 80)
print(exam >= 90 or report >= 90)
print(not (exam < 90))

### 3-4. 멤버/식별 연산자

In [ ]:
print('py' in 'python')
print('ty' not in 'python')
a = 2
b = 2
print(id(a) == id(b), a is b, a is not b)

## 4. 연산 오류 예시와 해결
- 문자열과 정수를 +로 결합 시 TypeError 발생 → 형 변환 필요

In [ ]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)